.trade_row_on{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgb(9, 240, 240);
    border-bottom: 1px solid rgb(9, 240, 240);
    /* border-radius: 5px; */
    background-color: rgb(21, 70, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 100%;
    height: 35px;
}
.trade_row_off{
    box-sizing: border-box;
    /* max-height: 50px;
    min-height: 50px;
    height: 50px; */
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    border: 0.5px solid rgb(26, 26, 26);
    /* border-radius: 5px; */
    font-weight:bold;
    font-size: 100%;
    height: 35px;
}
.trade_row_off:hover{
    box-sizing: border-box;
    /* height: 5%;
    min-height: 50px; */
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(9, 240, 240);
    /* border-radius: 5px; */
    background-color: rgb(41, 38, 38);
    font-size: 100%;
    font-weight: bold;
    height: 35px;
    
}
.result-wrapper{
    height: 100%;
    width: var(--width);
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #238aa7; */
    /* font-size: var(--fontSize); */
    /* font-family: 'Cabin', sans-serif; */
    font-weight: 700;
}
.symbol-wrapper{
    height: 100%;
    width: var(--width);
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #238aa7; */
    /* font-size: var(--fontSize); */
    /* font-family: 'Cabin', sans-serif; */
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}
.default-wrapper{
    height: 100%;
    width: var(--width);
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: var(--fontSize); */
    /* color: ghostwhite;   */
    /* font-family: 'Cabin', sans-serif; */

}
.market-wrapper{
    height: 100%;
    width: var(--width);
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #238aa7; */
    /* font-size: var(--fontSize); */
    /* font-family: 'Cabin', sans-serif; */
    font-weight: 700;
}
.duration-wrapper{
    height: 100%;
    width: var(--width);
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: var(--fontSize); */
    /* font-family: 'Cabin', sans-serif; */
    /* font-weight: 700; */
}
.duration-border{
    height: 60%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: var(--fontSize); */
    /* font-family: 'Cabin', sans-serif; */
    border-radius: 15px;
    /* font-weight: 700; */
}

.result-{
    height: 50%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
    /* font-size: var(--fontSize); */
    /* font-family: 'Cabin', sans-serif; */
    /* border: 2px solid #238aa7; */
    border-radius: 4px;
    /* background-color: #254d58; */
     /* border: 2px solid #6346a3;
    background-color: #352558; */
    font-weight: 700;
    /* background-color: rgb(239, 119, 0);
    border: 2px solid orange; */

}
.rowcolor2--longborder{
    height: 60%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #238aa7; */
    font-size: 99%;
    /* font-family: 'Cabin', sans-serif; */
    border: 2px solid #238aa7;
    border-radius: 2px;
    /* font-weight: 700; */

}
.rowcolor2--resultborderWon{
    height: 50%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    /* font-family: 'Cabin', sans-serif; */
    border: 2px solid #34e6cb;
    border-radius: 4px;
    background-color: #218172;
    font-weight: 700;
       /* font-size: var(--fontSize); */

}
.rowcolor2--resultborderLost{
    height: 50%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* font-size: var(--fontSize); */
    /* font-family: 'Cabin', sans-serif; */
    border: 2px solid #fb6e8f;
    border-radius: 4px;
    background-color: #83394a;
    font-weight: 700;

}