.display_selected_setting{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* position: relative;  */
    box-sizing: border-box;
    /* border: 3px inset rgb(88, 94, 123); */
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 7px;
    margin: auto;
    transition: all .3s ease;
    overflow:scroll;
    /* background-color: black; */
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid  yellow;
    
}
.market_selection_wrapper{
    width: 100%;
    min-height: 10%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}
.market_selection_key{
    width: 40%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 85%;
}
.market_selection_options_wrapper{
    width: 60%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}
.market_selection_option{
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    /* border: 1px solid purple; */
    /* padding: .3rem;
    padding-top: 2rem;
    padding-bottom: 2rem; */
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 85%;
}
.market_selection_{
    /* border: 1px solid white; */
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: bolder;
    font-size: 120%;
    /* background-color: rgb(53, 26, 100); */
}
.market_selection_active{
    /* border: 1px solid white; */
    width: 100%;
    height: 100%;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 120%;
    /* background-color: rgb(53, 26, 100); */
}
.drop_selection_option{
    box-sizing: border-box;
    width: 65%;
    height: 100%;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;

}
.drop_selection_{
    /* border: 1px solid white; */
    width: 90%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(53, 26, 100);
    position: relative;
    
}
.drop_selection_arrow_wrapper{
    width: 10%;
    /* border: 1px solid white; */
    background-color: rgb(53, 26, 100);
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop_selection_arrow{
    width: 100%;
}
.DeleteAndSave{
    box-sizing: border-box;
    /* min-height: %; */
    display: flex;
    /* padding: 1rem; */
    border-radius: 7px;
    flex-direction: row;
    width: 100%;
    border: 1px solid white;
    padding-top: 1rem;
}
.clear_trades_{
    width: 90%;
    height: 100%;
    min-height: 40px;
    border: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: black;
    color: #98a0ba;
    border: 2px solid #98a0ba;;


}
.clear_trades_:hover{
    width: 90%;
    height: 100%;
    min-height: 40px;
    border: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    border: 2px solid #98a0ba;
    background-color: whitesmoke;
    font-weight: 900;


}
.start_trading_{
    width: 100%;
    height: 100%;
    min-height: 40px;
    border: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: black;
    color: #98a0ba;
    border: 2px solid #98a0ba;;

}
.start_trading_:hover{
    width: 100%;
    height: 100%;
    min-height: 40px;
    border: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: whitesmoke    ;
    color: black;
    border: 2px solid #98a0ba;
    font-weight: 900;

}
.DeleteHistory:active{
    width: 45%;
    height: 100%;
    border: white;
    border-radius: 5px;
    background-color: gray;
    justify-content: center;
    align-items: center;
    display: flex;

    background-image: linear-gradient(to right, #4e4e4e , #383838);
    color: #98a0ba;
    border: 2px solid #98a0ba;;
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.clear_and_start_trading{
    padding-top: 15px;
    width: 100%;
    /* height: 15px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}