


.chart-trades-bar{
    min-width: 20%;
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
    border-radius: 20px;
    margin: 5px;
}

.chart-trades-bar-border{
    border: 1px inset rgb(0, 0, 0);
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    max-height: 50px;
    min-height: 50px;
}