.totalResults{
    /* max-height: 43%;
    min-height: 43%; */
    /* max-width: 80%;
    min-width: 80%;
    margin: auto; */
}

.totalResultsContainer{
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.totalResultsMid{
    /* width: 3%; */
    height: 100%;
}

