.allTrades_body{
    display: flex;
    flex-direction: row;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}


/* Statistics */

.statistics-collapsed{
    box-sizing: border-box;
    display: flex;
    width: 40%;
    flex-direction: column;
    /* border: 1px solid white; */
    overflow: hidden;
    padding: 10px;
    padding-left: 5px;


    
}
.statistics_wrapper_{
    /* padding: 10rem; */
    /* border: 5px solid #555555; */
    /* border-left: 2.5px solid #555555; */
    box-sizing: border-box;
    /* border-radius: 10px; */
    height: 100%;
    width: 100%;
    overflow: hidden;
    
    /* border-radius: 10px; */
    /* background-color: rgb(8, 9, 21); */

}

  .side_bar_candle_chart_wrapper{
    box-sizing: border-box;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* 
@media only screen and (min-width:1900px) and (max-width: 2000px) {

    .allTrades_body{
        display: flex;
        flex-direction: column;
        height: 100%;
        border: 3px solid white;
        flex-direction: row;
        
    }
    .chart-collapsed{
        box-sizing: border-box;
        width: 50%;
        height: 100%;
 
    }
    .statistics-collapsed{
        box-sizing: border-box;
        width: 500%;
        height: 100%;

        
    }
    .single_trade_information {
       height: 50%;
      }
      
      .side_bar_candle_chart_wrapper{
      
        height: 50%;
    
    }
}    */

/* 
@media only screen and (min-width:11px) and (max-width: 9999px) {

.allTrades_body{
    display: flex;
    flex-direction: column;
    height: 100%;

}
.chart-collapsed{
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    max-height: 50%;

}
.statistics-collapsed{
    box-sizing: border-box;
    width: 100%;
    height: 50%;

    
}
.single_trade_information {
   height: 50%;
  }
  
  .side_bar_candle_chart_wrapper{
  
    height: 50%;

}





} */


.isSettings{
    position: absolute;
    min-height: 1000px;
    /* max-height: 330px; */
    padding: .5rem;
    /* background-color: rgb(35, 35, 35); */
    border: 2px solid rgb(105, 116, 122);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-top: none;
    color: rgb(85, 150, 190);
    min-width: 400px;
    left: 2.6%;
    top: 4%;
    z-index: 1;

    /* border: 1.5px solid rgb(204, 138, 39); */
    border-top: none;
    /* transition: width 5s, height 4s; */
}
.isSettingsExpanded{
    position: absolute;
    min-height: 1000px;
 

    display: flex;
    flex-direction: column;
    border-top: none;
    color: rgb(85, 150, 190);
    min-width: 400px;
    left: 2.7%;
    top: 4%;
    z-index: 1;
    border-top: none;
   
    
}
.settings_overall_performance_container{
    box-sizing: border-box;
    /* display: flex; */
    min-width: 15%;
    max-width: 15%;
    flex-direction: column;
    /* border: 1px solid rgb(68, 68, 68); */
    /* padding-left:  1rem;
    padding-right: 1rem; */
    background-color: black;
    border: 1px solid gray;

    overflow-x: none;
    overflow-y: scroll;
    
}
.settings_overall_performance_wrapper{
    box-sizing: border-box;
    max-height: 100px;
    min-height: 100px;
    width: 100%;

    height: 100%;
    background-color: rgb(10 30 48);
    display: flex;
    flex-direction: row;
    color: white;
    background-color: black;
    /* border-bottom: 1px solid rgb(91, 90, 90); */
    padding-top: 15px;
    padding-bottom: 15px;
}
.name_and_amount_wrapper{
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.single_box_image_wrapper{
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name_and_amount{
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans Narrow';
    color: gray;
    flex-direction: column;
    margin: auto;

}
.single_return_wrapper{
    box-sizing: border-box;
    padding: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.single_return{
    box-sizing: border-box;
    /* border: 2px solid green; */
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.single_line_image{
    height: 100%;
    width: 100%;
}
.top_half_{
    height: 100%;
    width: 100%;
}
.bottom_half_{
    height: 30%;
    width: 100%;
}
.trades_list{
    color: white;
    display: flex;
    flex-direction: row;
    width: 99%;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 125%;
    border: 1px solid rgb(55, 80, 103);
    min-height: 50px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.t{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.t2{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}


.side_bar_candle_chart_container{
    min-height: 96%;
    max-height: 96%;
    height: 96%;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Patua One', cursive;
    font-family: 'Staatliches', cursive;
    /* border: 1px solid yellowgreen; */
  }






  /* SINGLE TRADE */
  
/* singleTrade */
.SingleTrade{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    min-width: 60%;
    max-width: 60%;
    overflow: hidden;
    /* border: 1px solid red; */
    padding-left: 10px;
    padding-right: 5px;

}
.single_trade_wrapper1{
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    max-height: 50%;
    overflow: hidden;


    /* border: 5px solid blue; */
    padding-top: 10px;
    padding-bottom: 5px;



    /* border-right: 2.5px solid blue; */
}
.single_trade_wrapper2{
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    max-height: 50%;
    overflow: hidden;


    /* border: 5px solid blue; */
    padding-top: 5px;
    padding-bottom: 10px;



    /* border-right: 2.5px solid blue; */
}
.border_test{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* border: 1px solid yellow; */
}
/* candleGraph */
.candle_chart_{
  box-sizing: border-box;
  display: flex;

  height: 100%;
 

  width: 100%;
  /* border: 5px solid rgb(167, 245, 0); */

}

.right_{
    box-sizing: border-box;
    width: 80%;
    height: 100%;

    overflow: hidden;
 
    /* border: 1px solid #ff0a0a; */

    padding-left: 5px;
}

.left_{
    box-sizing: border-box;
    height: 100%;
    width: 20%;
    
    /* border: 1px solid #ff0a0a; */
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    background-color: black;
}
.trades_object_info_wrapper{
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */
}

.sidebar_and_candlechart{
  box-sizing: border-box;
  width: 100%;
  height: 90%;
  min-height: 90%;
  max-height: 90%;
  display: flex;
}

.bc_wrapper{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 5px solid #555555;
}


/* navBar*/
.header_container{
 
  /* height: 30px; */
  height: 5%;
  min-height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.header_wrapper{
    height: 100%;
    width: 100%;
    /* border-bottom: 1px solid rgb(108, 107, 107); */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.header_one_wrapper{
    box-sizing: border-box;
    width: 150px;
    height: 50%;
    /* border-right: 1px solid teal;  */
    display: flex;
    justify-content: center;
    align-items: center;

}
.header_two_wrapper{
    box-sizing: border-box;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 50%;
    /* border-right: 1px solid teal;  */

}
.header_three_wrapper{
    box-sizing: border-box;
    width: auto;
    height: 50%;
    display: flex;
    justify-content: left;
    align-items: right;
}
.header_four_wrapper{
    box-sizing: border-box;
    width: 10%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-left: 1px solid teal; */
}
.header_icon_wrapper{
    height: 100%;
    width: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100%;
    /* border-right: 1px solid gray; */
}

.header_icon_wrapper:active{
    height: 100%;
    width: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100%;
    /* border-right: 1px solid gray; */
    transform: translateY(2px);
}
.header_icon_image_active{
    height: 120%;
    filter: invert(35%) sepia(15%) saturate(5095%) hue-rotate(146deg) brightness(95%) contrast(101%);
}

.header_icon_image{
    height: 120%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(186deg) brightness(101%) contrast(101%);
    /* filter: invert(35%) sepia(15%) saturate(5095%) hue-rotate(146deg) brightness(95%) contrast(101%); */
}












/* /////////// */

























.TradeDetails_Off {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
.TradeDetails_On {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow: hidden;
    padding: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

.tradePageHeader-Flex{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.bodyQuarter{
    height: 100%;
    width: 50%;
    border: .5px solid rgb(79, 79, 79);

}
.Chart{
    height: 100%;
    width: 100%;
    /* background-color: #383838; */
}
.bodyQuarterPointsToGo{
    height: 100%;
    width: 5%;
    border: .5px solid rgb(79, 79, 79);

}

 .closefullscreen{
    height: 25px;

}


.paa {
    font-family: sans-serif;
    text-align: center;
  }

  .content {
    /* background: rgb(0, 0, 0); */
    /* background: linear-gradient(
      45deg,
      rgba(26, 30, 80, 1) 0%,
      rgba(46, 87, 126, 1) 50%,
      rgba(57, 108, 144, 1) 100%
    ); */
    color: white;
  }
  
  .chart {
    /* background: rgb(0, 0, 0); */
    color: white;
    width: 100%;
    height: 100%;
    padding-left: 8%;
    padding-top: 4%;
  }
  
  .candle {
    stroke-width: 1;
  }
  
  .candle.up {
    fill: #81dfc4;
    stroke: #81dfc4;
  }
  
  .candle.down {
    fill: #d75b6d;
    stroke: #d75b6d;
  }
  
  .wick {
    stroke-width: 1.5;
  }
  
  .wick.up {
    stroke: #81dfc4;
  }
  
  .wick.down {
    stroke: #d75b6d;
  }
  
  .cross_hair {
    stroke: white;
    stroke-opacity: 70%;
    stroke-dasharray: 3;
  }
  
  .singleTradeFooter{
    height: 100%;
    width: 100%;
    background-color: black;
  }








/* Candle Graph */




/* BC PEFORMANCE */
.cd_selection_container{
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;

}
.cd_selection_{
    background-color: red;
}
.cd_selection_on{
    width: 100%;
    /* min-height: 400px; */
    /* max-height: 400px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}
.cd_settings{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-family: 'PT Sans Narrow', sans-serif;
    /* background-color: rgb(17 36 62) */
    background-color: rgb(34 60 96);
}



.peformance_row_off{
    width: 100%;
    font-weight: bold;
    font-size: 100%;
    height: 35px;
    /* min-height: 50px;
    max-height: 50px;
    height: 50px; */
    display: flex;
    font-size: 100%;
    border: 1px solid rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans Narrow', sans-serif;
    height: 30px;
    min-height: 30px;
}
.peformance_row_on{
    width: 100%;
    /* min-height: 50px;
    max-height: 50px;
    height: 50px; */
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(9, 240, 240);
    /* border-radius: 5px; */
    background-color: rgb(21, 70, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans Narrow', sans-serif;

    font-weight: bold;
    font-size: 100%;
    height: 30px;
    min-height: 30px;
    background-color: rgb(17 36 62);
}
.peformance_row_off:hover{
    width: 100%;
    /* min-height: 50px;
    max-height: 50px;
    height: 50px; */
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(103, 176, 255);
    
     /* border: 1px solid rgb(17 36 62); */
    /* border-radius: 5px; */
    background-color: rgb(17 36 62);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans Narrow', sans-serif;


}

.peformance_option_header{
    min-height: 40px;
    width: 19.8%;

    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid rgb(99, 99, 99); */
    /* color: #238aa7;
    color: rgb(152, 160, 186); */
    font-size: 90%;
}
.peformance_option{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}



.cd_icon_wrapper{
    width: 50px;
    height: 50%;
    border-right: 1px solid teal;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cd_img{
    height: 110%;
    /* width: 50; */
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Statistics Page Buttons Header */
.statistics-tabs{
    height: 25px;
    max-height: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid rgb(217, 53, 53); */
}

.statistics-tab-active:active{
    
    transform: scale(0.98);
    /* box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); */
    box-sizing: border-box;


}
.statistics-tab-unactive:active{
    transform: scale(0.98);
    /* box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); */
    box-sizing: border-box;


}
.statistics-tab-active{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    /* border-radius: 7px; */
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    /* background-color: rgb(29, 38, 54); */
    
}
.statistics-tab-unactive{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    /* border-radius: 7px; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(29, 38, 54); */
    
}
.statistics-tab-icon-active{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: invert(46%) sepia(28%) saturate(483%) hue-rotate(167deg) brightness(87%) contrast(85%); */
    
}
.statistics-tab-icon-unactive{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: invert(46%) sepia(28%) saturate(483%) hue-rotate(167deg) brightness(87%) contrast(85%); */
    /* filter: invert(46%) sepia(28%) saturate(483%) hue-rotate(167deg) brightness(87%) contrast(85%); */
    /* filter: invert(36%) sepia(27%) saturate(2378%) hue-rotate(142deg); */
    
}
.statistics-tab-text-active{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* font-size: 120%; */
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bolder;
    color: #58728a;
    /* filter: invert(36%) sepia(27%) saturate(2378%) hue-rotate(142deg); */
}
.statistics-tab-text-unactive{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #98a0ba;
    /* font-size: 120%; */
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bolder;

}
.tabIcon{
    width: 50%;
    
}


/* CHART */

:root {
    --width: 100%;
    --fontSize: 100%;
  }
.Chart_Main{
    box-sizing: border-box;
    /* height: 95%;
    width: 98%; */
    height: 100%;
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 10px; */
    /* border-radius: 1%;
    border: px solid white; */
    font-family: 'PT Sans Narrow', sans-serif;
    color: black;

    
}
.Chart_Main::-webkit-scrollbar { 
    width: 10px;
}
.chart-settings{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    font-size: 100%;
}
.chart_filter_options{
 /* min-height: 7%;
    max-height: 7%; */
    width: 100%;
    height: 40px;
    margin: auto;
    display: flex;
    flex-direction: row;
    font-family: 'PT Sans Narrow', sans-serif;
    /* color: rgb(255, 255, 255); */
    /* padding: 10px; */
    font-size: 100%;
}
.no_trades{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 160%;
    color: rgb(152, 160, 186);
    font-family: 'PT Sans Narrow', sans-serif;
}
.Chart_Header{
    /* min-height: 35px;
    max-height: 35px; */
    height: 30px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 85%;
    background-color: black;
    
}











.Chart_Filter_Expanded{
    height: 20%;
    width: 100%;
    margin: auto;
    /* background-color: var(--chartNewColor); */

    display: flex;
    flex-direction: row;
    font-family: 'PT Sans Narrow', sans-serif;
    transition: all .5s ease;
}
.Chart_Filter_Collapsed{
    height: 0%;
    width: 100%;
    margin: auto;
    /* background-color: var(--chartNewColor); */
    
    display: flex;
    flex-direction: row;
    font-family: 'PT Sans Narrow', sans-serif;
    transition: all .5s ease;
}

.Chart_Trades_Expanded{
    height: 100%;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    transition: all .5s ease;
    background-color: rgb(8, 20, 36);

    /* background-color: 'linear-gradient(to right,  rgb(8,20,36),  rgb(3, 22, 31), rgb(8,20,36), rgba(255,0,0,0))', */
    
}
.Chart_Trades_Collapsed{
    height: 88%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all .5s ease;
    background-color: black;
}
.Chart_Settings_Icon{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rowcolor1--header{
    height: 100%;
    width: var(--width);
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: rgb(115, 115, 115);
    color: #98a0ba; */
    font-size: var(--fontSize);
    /* color: var(--newFontColor) */
}
.rowcolor2--pnlwon{
    height: 100%;
    width: var(--width);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fontSize);
    color: #23ae98;
    /* border: 1px solid gray; */
    /* font-family: 'Cabin', sans-serif; */

}
.rowcolor2--pnllost{
    height: 100%;
    width: var(--width);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fontSize);
    color: #ab536d;
    /* border: 1px solid gray; */
    /* font-family: 'Cabin', sans-serif; */

}
.rowcolor1--footer1{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(115, 115, 115);
    color: #98a0ba;
    font-size: var(--fontSize);
    font-weight: bolder;
}
.rowcolor1--footer2{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(115, 115, 115);
    color: #98a0ba;
    font-size: var(--fontSize);
    font-weight: bolder;
}
.rowcolor1--footer3{
    height: 100%;
    /* width: 40%; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(115, 115, 115);
    color: #98a0ba;
    font-size: var(--fontSize);
    font-weight: bolder;
}
.rowcolor1--header:active{
    transform: scale(1.10);

    /* box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); */
}
.chart-updated-rowcolor2:hover{
    height: 4.5%;
    width: 100%;
    margin: auto;
    /* background-color: #182128; */
    background-image: linear-gradient(to right, #0d5f6e , #283d59);
    /* background-color: #2b6251; */
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(12, 12, 12);

}
.chart-updated-rowcolor3:hover{
    height: 4.5%;
    width: 100%;
    margin: auto;

    background-image: linear-gradient(to right, #0d5f6e, #283d59);
    /* background-color: #2b6251; */
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(12, 12, 12);

}
::-webkit-scrollbar {
    max-width: 7px;
    background-color: var(--chartNewColor);
    min-width: 10px;
}
::-webkit-scrollbar-track {
    height: 2px;
    min-height: 4px;
    /* background-color: var(--chartNewColor); */

}
::-webkit-scrollbar-thumb {
    background: rgb(168, 167, 167);
    border-radius: 5px;
    max-width: 5px;
}
.Chart_Footer{
    min-height: 4%;
    max-height: 4%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    /* font-family: 'PT Sans Narrow', sans-serif; */
}
.rowcolor1--footer5{
    width: 20%;
    margin: auto;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;

}
.chartSearchBox{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 25%;
}
.rowcolor1--footer4{
    margin: auto;
    height: 70%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.rowcolor1--settingsIcon{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.round {
    width: 100%;
    border-radius: 15px;
    border: 1px #94bde4 solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #000000;
    color: #94bde4;
}
.corner {
    position: absolute;
    top: 3px;
    left: 5px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    background: rgb(230, 230, 230); /* Set the bg image here. with "no-repeat" */
}
.search {
    position: relative;
    width: 190px;
    height: 30px;
}



.cd_option{
    min-height: 40px;
    width: 9.85%;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(99, 99, 99);
   
}
.cd_option:hover{
    min-height: 40px;
    width: 9.85%;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(99, 99, 99);
    background-color: white;
}


.cd_label{
    color: gray;
    font-size: 150%;
    padding-left: 20px;
}
.peformance_container{

    height: 200px;
    width: 100%;
    border: 1px solid purple;
}











.filter_option_button_on{

    color: rgb(152, 160, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    /* height: 50px; */
    /* border: 1px solid #b8baff; */
    font-size: 100%;
    /* background-color: rgb(14, 11, 24); */
    color: #ffffff;
}

.filter_option_button_off{

    color: rgb(152, 160, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    /* height: 50px; */

    font-size: 100%
}
.filter_option_button_off:hover{



    color: rgb(152, 160, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    /* height: 50px; */

    font-size: 100%;

    /* border: 1px solid #413a64; */

    background-color: rgb(50, 41, 85);
    color:  rgb(100, 100, 134);
}

.graph_container{
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    max-height: 200px;
    min-height:  200px;
    border: 1px solid white;
}


.empty_row{

    width: 100%;
    height: 100px;
}



/* ACTIVE TRADE DETAILS */

.single_trade_information {
    box-sizing: border-box;
    min-height: 100%;
    width: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 85%;
    
}
.trade_info_container{
    box-sizing: border-box;
    width: 100%;    
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.trade_info_wrapper{
    box-sizing: border-box;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;

}
.trade_info_body_border{
    width: 100%;
    height: 100%;
}
::-webkit-scrollbar {display:none;}

.trade_info_header_wrapper{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10%;
    height: 30px;
    background-color: rgb(17 36 62);
    /* border: 1px solid red; */

}
.trade_info_body_wrapper{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;


    font-size: 90%;
    /* height: 90%; */

}
.single_trade_single_stat {
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    /* border: 1px solid #413a64; */
    color: rgb(177, 176, 176);
    /* font-family: monospace; */
    display: flex;
    flex-direction: row;
    font-size: 110%;
    /* border: 1px solid teal; */
}
.single_stat_header {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    }
.single_stat_body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    color: rgb(250, 255, 154);

    

}
